code {
  padding: 2px;
  margin: 2px;
  color: red;
}


.header {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    max-width: 768px;
    margin: 0 auto;
    padding: 1em;
    padding-top: 4em;
    text-align: center;
    border-bottom: 1px solid #eee;
    background: #fff;
    letter-spacing: 0.05em;
}
    .header h1 {
        font-size: 300%;
        font-weight: 100;
        margin: 0;
    }
     .header h2 {
        font-size: 125%;
        font-weight: 100;
        line-height: 1.5;
        margin: 0;
        letter-spacing: -0.02em;
    }

    h2 {
      margin: 2em 0 1em 0;
      font-weight: 300;
      color: rgb(53, 178, 223);
    }

    h3 {
      margin: 2em 0 1em 0;
      font-weight: 300;
      color: rgb(53, 178, 223);
    }


/* The content div is placed as a wrapper around all the docs */
.content {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
    max-width: 768px;
}

    .content .content-subhead {
        margin: 2em 0 1em 0;
        font-weight: 300;
        color: #888;
        position: relative;
    }

    .content .content-spaced {
        line-height: 1.8;
    }

    .content .content-quote {
        font-family: "Georgia", serif;
        color: #666;
        font-style: italic;
        line-height: 1.8;
        border-left: 5px solid #ddd;
        padding-left: 1.5em;
    }

    .content-link {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        height: 100%;
        width: 20px;
    }

    .content p {
    font-size: 1.125em;
    }


pre {
  background-color: rgb(38, 171, 218);
  color: white;
  padding: 12px;
  border-radius: 5px;
}

div.example {
  margin-left: 50px;
}


pre.pre-example {
  color: black;
  background-color: rgb(231, 231, 231);
  border: 1px solid rgb(205, 205, 205);
}


div.footer {
  text-align: center;
  color: gray;
  padding: 3em;
}
